<body>
    <div class="page">
    
        <ul>
            <li><a href="/patient">Home</a></li>
            <li><a href="/appointment">Schedule an appointment</a></li>
            <li > <a href="/history" > Your appointements   </a></li>
            <li><a href="/home">Log out</a></li>

        
          </ul>
          <h1>Welcome {{user.name}} {{user.surname}} !</h1>
          <h1>Your info:</h1>
          <h1>Name: {{user.name}} {{user.surname}}</h1>
          <h1>Address: {{user.address}}</h1>
          <h1>Phone: {{user.phoneNumber}}</h1>
          <h1>Email: {{user.email}}</h1>
          <h1>Username: {{user.username}}</h1>
          <h1>Gender: {{gender}}</h1>
          <h1>User type: {{role}}</h1>

        </div>
    </body>