<body>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/hospital">Contact</a></li>
      <li  style="float:right">
          <a  href="/login" >         
              <img src="/assets/images/download.png" width="25" height="25"> Login
          </a>
      </li>
    
    </ul>
    <h1>Contact:</h1>
    <h2>Name:</h2>
    <h2>{{hospital.name}}</h2>
    <br>
    <h2>Address:</h2>
    <h2>{{hospital.address}}</h2>
    <br>
    <h2>Phone number:</h2>
    <h2>{{hospital.phoneNumber}}</h2>
    <br>
    <h2>Email:</h2>
    <h2>{{hospital.email}}</h2>

</body>